<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">

        <button @click="set('plus')" onclick="showPlus(),plus()">+</button>
        <button @click="set('minus')" onclick="showMinus(),minus()">-</button>
        <button @click="set('mul')" onclick="showMul(),mul()">*</button>
        <button @click="set('div')" onclick="showDiv(),div()">/</button>

        <br>

        <h1 id="demo">การบวก</h1>
  
        <input type="number" v-model="number1">
        <label id="demo1">+</label>
        <input type="number" v-model="number2">
        =
        <template v-if="calculate =='plus'">
            {{ plusNum }}
        </template>
        <template v-else-if="calculate =='minus'">
            {{ minusNum }}
        </template>
        <template v-else-if="calculate =='mul'">
            {{ multiplyNum }}
        </template>
        <template v-else-if="calculate =='div'">
            {{ divideNum }}
        </template>
        <template v-else>
            {{ plusNum }}
        </template>

    </div>
    <script>
        function showPlus() {
        document.getElementById("demo").innerHTML = "การบวก";
        }
        function showMinus() {
        document.getElementById("demo").innerHTML = "การลบ";
        }
        function showMul() {
        document.getElementById("demo").innerHTML = "การคูณ";
        }
        function showDiv() {
        document.getElementById("demo").innerHTML = "การหาร";
        }
    </script>
    
    <script>
        function plus() {
        document.getElementById("demo1").innerHTML = "+";
        }
        function minus() {
        document.getElementById("demo1").innerHTML = "-";
        }
        function mul() {
        document.getElementById("demo1").innerHTML = "*";
        }
        function div() {
        document.getElementById("demo1").innerHTML = "/";
        }
    </script>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                number1: 0,
                number2: 0,
                result: 0,
                calculate: ''
            },
            methods:{
                set: function(cal){
                    this.calculate = cal
                }
            },
            computed: {
                plusNum: function () {
                    return parseInt(this.number1) + parseInt(this.number2)
                },
                minusNum: function () {
                    return parseInt(this.number1) - parseInt(this.number2)
                },
                multiplyNum: function () {
                    return parseFloat(this.number1) * parseFloat(this.number2)
                },
                divideNum: function () {
                    return parseFloat(this.number1) / parseFloat(this.number2)
                }
            }
        });
    </script>

</body>

</html>